extends layout

block content
  h1= title
  p Welcome to #{title}
  #mytimeline
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
  script(src='//momentjs.com/downloads/moment.min.js')
  script(src='/javascripts/timeline.js')