doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://visjs.org/dist/vis.css', rel='stylesheet', type='text/css')
    script(src='http://visjs.org/dist/vis.js')
  body
    block content