doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//visjs.org/dist/vis.css', rel='stylesheet', type='text/css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='//visjs.org/dist/vis.js')
  body
    block content